.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  &__heading {
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 1.6rem;
  }
  .form_group {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    label {
      display: block;
      width: 100%;
      padding-bottom: 0.4rem;
    }
    input,
    select {
      width: 100%;
      font-size: 1rem;
      padding: 1rem;
    }
    &_submit {
      width: 60%;
      margin: 0 auto;
    }
  }
  &__form,
  &__preview {
    background-color: $white;
    position: relative;
    padding: 1.2rem;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
    box-shadow: $shadow1;
    margin: 1rem;
    height: max-content;
    flex: 1;
    &_action{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      justify-items: center;
    }
  }
  &__form {
    display: flex;
    flex-flow: row wrap;
    &_wide{
      flex: none;
      width: 55%;
    }
  }
  &__table{
    width: 100%;
  }
}
@include breakpoint-down(medium) {
    .main{
        flex-flow: column wrap;
        &__form,&__preview,&__form_wide{
            flex: none;
            width: calc(100% - 2rem);
            margin: 0.5rem;
        }
        &__form{
            flex-flow: column wrap;
        }
        .form_group {
            width: 100%;
            &_submit {
                width: 100%;
            }
        }
        &__preview{
            tr{
                width: max-content;
            }
            td {
                 width: min-content;
            }
            overflow-x: scroll;
            scrollbar-color: auto;
            scrollbar-width: thin;
            &::-webkit-scrollbar {
                width: 0.5rem;
                height: 0.5rem;
            }
            &::-webkit-scrollbar-track {
                background: $darkBlue;
            }
            &::-webkit-scrollbar-thumb {
                background: $lightPurple;
                border-radius: 0.1rem;
            }
        }
    }
}
