html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  // font-family: 'PT Sans', sans-serif;
  // font-family: 'Quicksand', sans-serif;
  // font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  color: $dark;
  position: relative;
  top: 0;
  left: 0;
  scrollbar-color: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@include breakpoint-down(medium) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

//Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

//Button
button,
.button {
  display: block;
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  cursor: pointer;
  background-size: 200% auto;
  background-image: linear-gradient(to right,
      $darkBlue 0%,
      $lightPurple 50%,
      $darkBlue 100%);
  border: none;
  color: $white;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  box-shadow: $shadow2;

  &:hover {
    background-position: right center;
    box-shadow: $shadow3;
  }

  &:active {
    transform: scale(0.95);
    background-position: left center;
  }
}

.flat-wide-button {
  font-size: 1.3rem;
  margin-top: 1.2rem;
  width: 100%;
  border-radius: 5px;
  font-family: inherit;

  &:hover,
  &:focus {
    background-position: right center;
    box-shadow: $shadow3;
  }

  &:active {
    transform: scale(0.95);
    background-position: left center;
  }
  &:disabled{
    background-image: none;
    background-color: $lightBlue;
    color: $white;
    cursor: not-allowed;
    box-shadow: none;
  }
  &_narrow {
    width: 50%;
    background-image: linear-gradient(to right,
        $darkBlue 0%,
        $lighterBlue 50%,
        $lightPurple 100%);
    margin-left: auto;
    margin-right: auto;
    @include breakpoint-down(medium) {
      font-size: 1rem;
    }
  }
}
.flat-hallow-button{
  background: $white;
  color: $darkBlue;
  border: 2px solid $darkBlue;
  box-shadow: none;
  width: max-content;
  transition: all 0.1s ease-in-out;
  &:hover{
    box-shadow: none;
    border-color: $lightPurple;
    color: $lightPurple;
  }
  &:focus{
    box-shadow: none;
  }
  &:active{
    border-color: $darkBlue;
    background: $darkBlue;
    color: $white;
    transform: none;
  }
  &:disabled{
    background-color: $white;
    border-color: $lightBlue;
    color: $lightBlue;
    cursor: not-allowed;
  }
  @include breakpoint-down(medium) {
    font-size: 1rem;
    width: 22%;
    padding: 0;
  }
}
.small-round-button {
  font-size: 0.9rem;
  font-weight: normal;
  padding: 0.3rem 0.8rem;
  margin: 0.3rem;
  width: max-content;
  max-width: 5rem;
  flex: 1;
}

.delete-button {
  background-image: $redButton;
  &_with-img{
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      background-color: $lightBlue;
      img{
        filter: sepia(1);
      }
    }
    img{
      display: block;
      max-width: 70%;
      height: auto;
    }
  }
}
.edit-button {
  background-image: linear-gradient(to right,
      $darkBlue 0%,
      $lighterBlue 50%,
      $darkBlue 100%);
}
.green-button{
  background-image: linear-gradient(to right,green 0%,$greenish 50%,green 100%);
}
.red-button{
  background-image: linear-gradient(to right,red 0%,$lightRed 50%,red 100%);
}
.float-right-btn {
  position: absolute;
  top: 0.8rem;
  right: 1.2rem;
  box-shadow: none;
  background-image: linear-gradient(90deg,
      $lightPurple 0%,
      $kindaPink 50%,
      $lightPurple 100%);
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem 1rem;
  width: max-content;
  border-radius: 0.2rem;

  &:hover {
    transform: scale(1);
    background-position: right center;
    box-shadow: none;
  }

  &:active {
    transform: scale(0.95);
    background-position: left center;
  }

  @include breakpoint-down(medium) {
    right: auto;
    left: 1.2rem;
  }
}
.float-equally{
  top: 0;
  right: 0;
  @include breakpoint-down(medium) {
    position: static;
    margin: 0 auto 0.5rem auto;
  }
}
.round-single-button {
  border-radius: 50%;
  font-size: 2.5rem;
  height: 3rem;
  width: 3rem;
  padding: 0;
  margin: 1rem auto;
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(to right, $kindaPink 0%, $lightPurple 50%, $kindaPink 100%);
}
.flat-button-filled,.flat-button-hallow{
  border-radius: 0.2rem;
}
.flat-button-hallow{
  background-image: none;
  color: $darkBlue;
  background-color: transparent;
  border: 1.5px solid $darkBlue;
  box-shadow: none;
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
  &:hover{
    box-shadow: none;
  }
}
//Inputs
input,
select {
  border: none;
  outline: 0;
  background-color: $white;
  box-shadow: $shadow2;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all ease-in-out 0.15s;
  outline: 1px solid $lightBlue;
  font-family: inherit;

  &:focus {
    outline: 1.5px solid $lightBlue;
    box-shadow: $shadow3;
  }
}
input[type="text"],input[type="number"],input[type="time"]{
  &:read-only{
    box-shadow: none;
    cursor: not-allowed;
    outline-width: 1.5px;
    &:focus{
      box-shadow: none;
    }
  }
}
input[type="time"]{
  padding-right: 0;
}
.input-with-icon {
  font-size: 1rem;
  padding: 1rem;
  padding-left: 3rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-position: 1rem 1rem;
  &_no-icon{
    background: $white;
    padding-left: 1rem;
  }
}

input[type=file] {
  position: relative;
}

input[type=file]::-webkit-file-upload-button,
input[type=file]::file-selector-button {
  border: none;
  outline: none;
  cursor: pointer;
  right: 0.3rem;
  top: 0.5rem;
  width: max-content;
  background: linear-gradient(45deg, $kindaPink, $lightPurple);
  color: $white;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  position: absolute;
}

textarea {
  width: 100%;
  height: 10rem;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: $shadow2;
  outline: 1px solid $lightBlue;
  border-radius: 5px;

  &:focus {
    outline: 1.5px solid $lightBlue;
    box-shadow: $shadow3;
  }
}

.form-unit {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  label {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding-bottom: 0.3rem;
  }
}

.form-unit-full {
  width: 100%;
}

.form-unit-half {
  width: 48%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  @include breakpoint-down(medium) {
    width: 100%;
  }
}

.form-unit-half-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;

  @include breakpoint-down(medium) {
    margin-bottom: 1rem;
  }

  &_halfed {
    width: 48%;

    .form-unit-half {
      width: 100%;

      @include breakpoint-down(medium) {
        width: 100%;
      }
    }

    flex-direction: column;

    @include breakpoint-down(medium) {
      width: 100%;
    }
  }
}

.main__table_half {
  width: 48%;

  @include breakpoint-down(medium) {
    width: 100%;
  }
}

.user_name {
  background-image: url(../../images/id-card.png);
}

.user_fname {
  margin-right: 0.5rem;
}

.user_id {
  background-image: url(../../images/avatar.png);
}

.user_pass {
  background-image: url(../../images/padlock.png);
}

.user_email {
  background-image: url(../../images/email.png);
}

.user_tel {
  background-image: url(../../images/telephone.png);
}

.user_gender {
  background-image: url(../../images/stick-man.png);
}

.user_photo {
  background-image: url(../../images/photo.png);
}

.user_bio {
  background-image: url(../../images/bio.png);
}

.user_house {
  background-image: url(../../images/house.png);
}

.user_location {
  background-image: url(../../images/location.png);
}

.language {
  background-image: url(../../images/language.png);
}

.proficiency {
  background-image: url(../../images/badge.png);
}
.rupee{
  background-image: url(../../images/rupee.png);
}
.bank {
  background-image: url(../../images/bank.png);
}

.acc_no {
  background-image: url(../../images/account_number.png);
}

.acc_holder {
  background-image: url(../../images/account_holder.png);
}

//Visibility
.hide-for-mobile {

  // hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {

  // hide for desktop viewport widths
  @include breakpoint-up(large) {
    display: none;
  }
}

.wide-for-mobile {
  @include breakpoint-down(medium) {
    min-width: 100%;
  }
}

.thin-H1 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  box-shadow: $shadow1;
  width: 100%;
}

caption,
.caption {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

thead {
  background: linear-gradient(150deg, $darkBlue, $lighterBlue);
  position: sticky;
  top:-2px;
}

th {
  color: $white;
  position: sticky;
  top:0;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
}

td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background: $lightBlue;
}
.tabe_action{
  display: inline-block;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  height: 100%;
  a{
    text-align: center;
  }
}
.white-table {
  box-shadow: none;
  width: 100%;
  thead {
    background: $lightBlue;

    th {
      color: $dark;
      text-align: left;

      @include breakpoint-down(medium) {
        width: max-content;
      }
    }
  }
  tr:nth-child(even){
    background: $white;
  }
  tbody{
    background-color: $white;
  }
  td {
    border: solid $lightBlue;
    border-width: 0 0 1.5px 0;
    text-align: left;
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: $toast-color;
  box-shadow: $toast-shadow;
  color: $white;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  bottom: 30px;
  max-height: 70vh;
  overflow-y: hidden;
}

#snackbar.show {
  visibility: visible;
  animation: toast-in 0.4s, toast-out 0.5s 2.5s;
}

#snackbar.show-loading {
  visibility: visible;
  min-width: max-content;
  border-radius: 50%;
  background-color: transparent;
  animation: toast-in 0.2s forwards;
  box-shadow: none;
  overflow-x: hidden;
}

.overlaydiv {
  position: fixed;
  visibility: hidden;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  z-index: 99;
  width: 60vw;
  height: 80vh;
  box-shadow: $shadow4;
  background-color: $white;
  border-radius: 1rem;
  padding: 1.2rem;
  padding-top: 0;
  overflow: hidden;

  @include breakpoint-down(medium) {
    width: calc(100% - 2.4rem);
    height: 80vh;
    padding: 0 0.7rem 0.7rem 0.7rem;
  }

  .cross {
    cursor: pointer;
    width: max-content;
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 1.2rem;
    top: 1.5rem;

    &:active {
      transform: scale(0.92);
    }

    >span {
      width: 30px;
      height: 0.25rem;
      transform-origin: 4px;
    }

    >span:first-child {
      transform: rotate(45deg);

      &:hover {
        box-shadow: $shadow3;
      }
    }

    >span:nth-child(2) {
      opacity: 0;
    }

    >span:last-child {
      transform: rotate(-45deg);

      &:hover {
        box-shadow: $shadow3;
      }
    }
  }
}

.loading {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 12px;

  background-color: transparent;

  border-left: 0.23rem solid $darkBlue;
  border-right: 0.23rem solid $lightPurple;
  border-top: 0.23rem solid transparent;
  border-bottom: 0.23rem solid transparent;

  border-radius: 100%;
  -webkit-border-radius: 100%;

  animation: loader 1s infinite;
  -webkit-animation: loader 1s infinite;
}

.checkmark {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
  cursor: pointer;

  &_selected {
    cursor: auto;

    &::before {
      background-color: transparent;
      background: linear-gradient(45deg, $darkBlue, $lightPurple);
      animation: tick-selected-stem ease-in 0.2s forwards;
    }

    &::after {
      background-color: transparent;
      background: linear-gradient(-45deg, $darkBlue, $lightPurple);
      animation: tick-selected-kick ease-in 0.1s forwards;
    }
  }
}

.checkmark:before {
  content: "";
  position: absolute;
  width: 0.35rem;
  height: 1.5rem;
  background-color: $kindaPink;
  left: 11px;
  bottom: 2px;
}

.checkmark:after {
  content: "";
  position: absolute;
  width: 0.93rem;
  height: 0.35rem;
  background-color: $kindaPink;
  left: 0.1rem;
  top: 1.53rem;
}

.dropdown-arrow {
  display: inline-block;
  transform: rotate(90deg);
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5rem;
  margin: 0.2rem;
}

.scrollable {
  width: 100%;
  max-height: 65vh;
  overflow-y: auto;
  scrollbar-color: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  @include breakpoint-down(medium) {
    max-height: 65vh;
    overflow-y: visible;
    overflow-x: scroll;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: $lightBlue;
  }

  &::-webkit-scrollbar-thumb {
    background: $lightPurple;
    border-radius: 0.4rem;
  }
}

.nav-dd {
  position: absolute;
  top: 3.1rem;
  left: 0;
  max-height: 85vh;
  display: none;

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-caption {
    background-color: $smoky;
    color: $grey;
  }

  &_courses,
  &_durations,
  &_subjects {
    display: none;
    position: absolute;
    top: 0;
    background-color: $white;
    box-shadow: $shadow2;
    width: 11rem;
    border-radius: 0.25rem;

    a {
      color: $dark;
      display: inline-block;
      padding: 0.5rem 1rem;
      width: 100%;
      cursor: pointer;
    }
  }

  &_duration,
  &_subject {
    display: none;
  }

  &_course,
  &_duration,
  &_subject {
    position: static;

    &:hover {
      background-color: $lightBlue;
      border-radius: 0.25rem;
    }
  }

  &_courses {
    overflow-y: auto;
  }

  &_durations {
    top: 0;
    left: 11rem;
  }

  &_subjects {
    top: 0;
    left: 22rem;
    width: max-content;
    max-height: 85vh;
    max-width: 20rem;
    overflow-y: auto;
  }

  &_subject {
    a {
      color: $dark;
      width: 100%;

      &:hover {
        color: $darkBlue;
      }
    }
  }

  &_course,
  &_duration {
    a {
      position: relative;

      &::after {
        position: absolute;
        top: 0.3rem;
        right: 1rem;
        content: ">";
        font-weight: bold;
        font-family: monospace;
        font-size: 1.5rem;
        transition: all ease-in-out 0.2s;
      }

      &:hover {
        &::after {
          color: $darkBlue;
        }
      }

      &:active {
        &::after {
          color: $lightPurple;
          right: 0.7rem;
        }
      }
    }
  }
}

.notification_bell {
  position: relative;
  height: 2rem;

  img {
    height: 100%;
    width: auto;
  }

  .notification_badge {
    position: absolute;
    display: flex;
    text-align: center;
    align-content: center;
    right: 0;
    width: 1rem;
    padding: 0.1rem;
    top: 0;
    background-color: $lightPurple;
    color: $white;
    border-radius: 50%;
    font-size: 0.6rem;
    font-weight: bold;
  }
}

.avatar {
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  box-shadow: $shadow2;

  img {
    display: block;
    width: auto;
    height: 100%;
    border-radius: 50%;
  }
}

.overlay-background {
  display: none;
  background-color: rgba($color: #000000, $alpha: 0.7);
  position: fixed;
  top: 0;
  height: 100vh;
  padding: 5rem 2rem;
  width: 100vw;
  z-index: 20;
  color: $white;
  font-size: 0.75rem;
  overflow: auto;
  animation: fade-in ease-in-out 0.2s;

  @include breakpoint-down(medium) {
    display: block;
  }
}

.tab-selector {
  width: calc(100% - 2rem);
  margin-right: 2rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  margin: 0 auto;
  height: 3rem;
  background-color: $white;
  display: flex;
  overflow-x: auto;
  scrollbar-color: auto;
  scrollbar-width: thin;
  z-index: inherit;

  &::-webkit-scrollbar {
    width: 0rem;
    height: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: $smoky;
  }

  &::-webkit-scrollbar-thumb {
    background: $lightBlue;
    border-radius: 0.4rem;
  }

  &_tab {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    padding: 1rem 0.5rem;
    border-bottom: 2px solid $lightBlue;
    min-width: max-content;
    position: relative;
    &:hover {
      color: $darkBlue;
    }
  }

  &_selected {
    background-color: $white;
    color: $darkBlue;
    font-weight: bold;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      background: linear-gradient(90deg, $darkBlue, $lightPurple);
      width: 100%;
      bottom: -2px;
      border-radius: 2px;
      animation: highlight ease-in-out 0.25s forwards;
    }
  }

  &_exclamation,
  &_error,
  &_completed {
    &::after {
      font-weight: bolder;
      margin-left: 0.5rem;
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0 0.2rem 0.2rem 0.2rem;
      color: $dark;
    }
  }

  &_exclamation {
    &::after {
      content: "!";
      background-color: $yellowish;
      font-size: 1.2rem;
    }
  }

  &_error {
    &::after {
      content: "X";
      background: $lightRed;
      font-size: 1.1rem;
    }
  }
  &_completed{
    &::after{
      content: "✓";
      background: $greenish;
      font-size: 1rem;
      transform: rotate(10deg);
      color: $white;
    }
  }
}
.big-green-tick{
  background-color: $greenish;
  display: block;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  margin: 1rem auto;
  position: relative;
  &::after{
    display: block;
    position: absolute;
    content: "";
    height: 6rem;
    width: 1rem;
    bottom: 2.1rem;
    left: 2.25rem;
    background-color: $white;
    border-radius: 0.5rem;
    transform-origin: 0px 6rem;
    transform: rotate(40deg);
    animation: big-tick-stem ease-in-out 0.7s forwards;
  }
  &::before{
    display: block;
    position: absolute;
    content: "";
    background-color: $white;
    height: 1rem;
    width: 3rem;
    top: 3.8rem;
    left: 1.5rem;
    border-radius: 0.5rem;
    transform-origin: 0px 0px;
    transform: rotate(30deg) ;
    animation: big-tick-kick ease-in-out 0.3s forwards;
  }
}
.form-info {
  display: block;
  width: max-content;
  max-width: 100%;
  border-radius: 2rem;
  font-size: 0.8rem;
  background-color: $lightBlue;
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0 auto;

  &_red {
    background-color: $lightRed;
    color: $white;
  }

  &_yellow {
    background-color: $cream;
    margin-bottom: 1rem;
  }

  &_green {
    background-color: $greenish;
    color: $white;
    margin-bottom: 1rem;
    overflow: hidden;
    animation: short-life ease-in 4s forwards;
  }
}

.underlined {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    background: linear-gradient(90deg, $darkBlue, $lightPurple);
    left: 0;
    right: 0;
    bottom: -2px;
    border-radius: 2.5px;
    width: 100%;
  }
}

.check-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  background-color: $white;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 25%;
  transition: all 0.3s ease-in-out;

  @include breakpoint-down(medium) {
    width: 50%;
  }

  @include breakpoint-down(small) {
    width: 100%;
  }

  &:hover {
    input {
      ~ {
        .check {
          border: 1.5px solid $lightPurple;
        }
      }
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      ~ {
        .check {
          background-color: $lightPurple;
          border: 1.5px solid $lightPurple;

          &:after {
            display: block;
          }
        }
      }
    }
  }

  .check {
    &:after {
      left: 7.5px;
      top: 1px;
      width: 0.5rem;
      height: 1rem;
      border: solid $white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $lightBlue;
  box-shadow: $shadow5;
  border-radius: 0.2rem;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.checkboxs-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}
.location_icon{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 5px solid $lightPurple;
    border-radius: 100%;
    &::after{
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 1px 0 0 -6px;
    display: block;
    content: '';
    border: 6px solid transparent;
    border-top: 10px solid $lightPurple;
    border-bottom: none;
    }
}
.float-right{
  position: absolute;
  right: 11rem;
  padding: 0.61rem 1rem;
  border-radius: 0.2rem;
  box-shadow: none;
  cursor: pointer;
  &:focus,&:hover{
    box-shadow: $shadow5;
  }
  @include breakpoint-down(medium) {
    position: static;
    margin: 0 auto 0.5rem auto;
  }
}

.reveal {
  animation: reveal ease-in-out 0.3s forwards;
}

.conceal {
  animation: conceal ease-in-out 0.3s forwards;
}

.rotateBy90 {
  animation: rotateBy90 ease-in-out 0.3s forwards;
}

.rotateByNeg90 {
  animation: rotateByNeg90 ease-in-out 0.3s forwards;
}

.fade-in {
  visibility: hidden;
  animation: fade-in ease-in-out 0.3s forwards;
  visibility: visible;
}

.fade-in {
  visibility: visible;
  animation: fade-in ease-in-out 0.3s forwards;
  visibility: hidden;
}

.slide-in {
  animation: slide-in ease-in-out 0.3s forwards;
}

.slide-out {
  animation: slide-out ease-in-out 0.3s forwards;
}

.grow{
  animation: grow ease-in-out 0.4s forwards;
}
.grow-limitless{
  animation: grow-limitless ease-in-out 0.4s forwards;
}
.flip{
  &::after{
    color: $lightPurple;
    animation: flip ease-in-out 0.4s forwards;
  }
}