.search{
    &__container{
        width: 100%;
        background-color: $white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: -0.5rem;
        border: 1px solid $lightBlue;
        form{
            width: 100%;
            display: flex;
            flex-direction: row wrap;
            @include breakpoint-down(medium) {
                flex-flow: column-reverse wrap;
            }
        }
    }
    &__selector,&__check{
        border: 1.5px solid $lightBlue;
        display: block;
        flex: 1;
        padding: 1rem;
        padding-right: 2rem;
        position: relative;
        cursor: pointer;
        @include breakpoint-down(medium) {
            flex: none;
            width: 45%;
        }
        &::after{
            transition: all 0.4s ease-in-out;
            content: ">";
            transform: rotate(90deg);
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 1.3rem;
            font-weight: bold;
            font-family: monospace;
        }
        ul,li{
            list-style: none;
        }
        .course_text,.duration_text,.subject_text{
            width: 100%;
            padding: 0.5rem 1rem;
            display: block;
        }
        &_course > span,&_duration >span{

            &::after{
                content: ">";
                transform: rotate(90deg);
                display: block;
                position: absolute;
                top: 0.5rem;
                right: 1rem;
                font-size: 1.3rem;
                font-weight: bold;
                font-family: monospace;
            }
        }
        &_courses{
            position: absolute;
            top: 3.4rem;
            left: 0;
            background-color: $white;
            box-shadow: $shadow5;
            overflow-y: auto;
        }
        &_courses,&_durations,&_subjects{
            transition: max-height 3s ease-in-out;
            max-height: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: $grey;
        }
        &_course,&_duration,&_subject{
            font-size: 1rem;
            position: relative;
            width: 100%;
            background-color: $white;
            overflow: hidden;
            max-height: max-content;
        }
        &_course{
            background-color: $white;
        }
        &_duration{
            background-color: rgb(230, 252, 252);
        }
        &_subject{
            background-color: rgb(204, 250, 250);
        }
    }
    &__check{
        flex: 1;
        border-left: none;
        .checkboxs-container{
            position: absolute;
            top: 3.5rem;
            left: 0;
            max-height: 0;
            overflow: hidden;
            justify-content: space-between;
            flex-flow: row wrap;
            background-color: $white;
            box-shadow: $shadow5;
            padding: 0 1rem;
            transition: all 0.2s ease-in-out;
            .check-container{
                font-size: 1rem;
                width: 45%;
                min-width: max-content;
                margin-top: 0.5rem;
            }
            .check{
                height: 1.5rem;
                width: 1.5rem;
                margin: 0;
                &::after{
                    top: 0;
                    left: 0.4rem;
                    height: 1rem;
                    width: 0.5rem;
                }
            }
        }
    }
    &__bar{
        flex: 3;
        display: flex;
        flex-direction: row;
        input{
            width: calc(100% - 3.5rem);
            height: 100%;
            padding: 1rem;
            box-shadow: none;
            border-radius: 0;
            border: 1.5px solid $lightBlue;
            border-left: 0;
            font-size: 1rem;
            outline: 0;
            &:focus{
                box-shadow: none;
            }
        }
        a{
            height: 100%;
            width: 3.5rem;
            border: 1.5px solid $lightBlue;
            border-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                width: 1.5rem;
                height: 1.5rem;
            }
            &:hover{
                background-color: $lightPurple;
                img{
                    filter: invert(1);
                }
            }
        }
    }
    &__results{
        &_container{
            width: 100%;
            height: max-content;
            min-height: 90vh;
            padding: 1.6rem;
        }
    }
    &__result{
        width: 100%;
        background-color: $white;
        box-shadow: $shadow1;
        border-radius: 0.2rem;
        padding: 1rem;
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 2rem;
        &_profile{
            padding: 1rem;
            flex: 1.2;
            &_img{
                width: 100%;
                img{
                    display: block;
                    max-width: 100%;
                    height: auto;
                    border-radius: 0.4rem;
                }
            }
            &_price{
                font-weight: bold;
                text-align: center;
            }
            &_buttons{
                width: 100%;
                display: flex;
                flex-direction: column;
                button{
                    width: 100%;
                    margin-bottom: 0.5rem;
                    font-family: inherit;
                    font-size: 1rem;
                }
            }
        }
        &_about{
            flex: 3;
            padding: 1rem;
            padding-top: 0;
            &_name{
                font-size: 1.5rem;
                line-height: 0;
                padding-top: 0.5rem;
            }
            &_info{
                margin-bottom: 1rem;
            }
            &_sub-heading{
                padding-top: 0.5rem;
                font-weight: bold;
                line-height: 0;
            }
        }
        &_availability{
            flex: 3;
        }
    }
    &__booking{
        width: 60%;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 1rem;
        padding-right: 1rem;
        &_tutor{
            width: 23%;
            padding: 1rem;
            box-shadow: $shadow2;
            border-radius: 0.5rem;
            height: max-content;
            border: 1px solid lightblue;
            &_img{
                width: 100%;
                img{
                    display: block;
                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                    border-radius: 0.4rem;
                }
            }
            p{
                margin: 0;
            }
            &_info{
                width: 100%;
                text-align: center;
               &_name,&_location,&_bio{
                   width: 100%;
                   padding: 0.1rem 0;
               }
               &_name{
                   font-size: 1.2rem;
                   padding-top: 0.5rem;
               }
            }
            &_label{
                width: 100%;
                display: block;
                text-align: center;
                padding-bottom: 0.5rem;
            }
        }
        &_form{
            display: block;
            width: 75%;
            height: 100%;
            padding: 1rem;
            height: max-content;
        }
        &_walletDiv{
            width: 45%;
            height: max-content;
            border-radius: 0.4rem;
            border: 1.5px solid $lightBlue;
            display: flex;
            flex-flow: row wrap;
            padding: 1rem;
            justify-content: space-between;
            &_heading{
                display: block;
                width: max-content;
                padding-bottom: 1rem;
                font-weight: 600;
                &_link{
                    display: block;
                }
            }
            .green_circle,.red_circle{
                position: relative;
                padding-left: 1.6rem;
                &::after{
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 1.3rem;
                    height: 1.3rem;
                    text-align: center;
                    color: $white;
                    border-radius: 50%;
                }
            }
            .green_circle{
                &::after{
                    content: "✔";
                    background-color: $greenish;
                    padding: 0rem;
                    padding-bottom: 0.2rem;
                    font-weight: normal;
                }
            }
            .red_circle{
                 &::after{
                    content: "X";
                    background-color: $lightRed;
                    font-weight: bold;
                }
            }
            &_info{
                width: 100%;
                display: flex;
                flex-flow: row ;
                &:not(:last-child){
                    padding-bottom: 0.5rem;
                }
                justify-content: space-between;
                span{
                    width: max-content;
                }
            }
            &_value{
                font-weight: 600;
            }
        }
        &_summary{
            width: 55%;
            padding: 1rem;
            padding-top: 0;
            form{
                height: max-content;
            }
            &_heading{
                padding: 0.5rem;
                padding-top: 0;
                display: block;
                width: 100%;
                font-size: 1.2rem;
            }
            &_mainItem{
                padding: 0.25rem 0.5rem;
                border-top: 1.5px solid $lightBlue;
                width: 100%;
                display: flex;
                justify-content: space-between;
                span{
                    display: block;
                    width: max-content;
                }
                &_text,&_value{
                    font-weight: 600;
                }
            }
            .total{
                font-size: 1.15rem;
                padding: 0.25rem 0.5rem;
                border-style: solid;
                border-color: $lightBlue;
                border-width: 1.5px 0;
            }
            &_details{
                padding: 0.5rem 0.5rem;
                padding-top: 0;
                display: block;
            }
            &_detail{
                font-size: 0.8rem;
                display: flex;
                justify-content: flex-start;
            }
            &_text{
                min-width: max-content;
            }
            &_value{
                padding-left: 0.2rem;
            }
            .flat-button-hallow{
                font-size: 1.2rem;
                font-weight: bold;
                margin-top: 0.5rem
            }
        }

    }
}
#successOverlay,#addOverlay{
    flex-flow: column;
    justify-content: center;
    align-items: center; 
    align-content: flex-start;
}