@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes highlight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes highlight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes shiftGradient {
  from {
    background: linear-gradient(90deg, #23049D, #AA2EE6);
  }
  to {
    background: linear-gradient(90deg, #AA2EE6, #23049D);
  }
}
@keyframes shiftGradient {
  from {
    background: linear-gradient(90deg, #23049D, #AA2EE6);
  }
  to {
    background: linear-gradient(90deg, #AA2EE6, #23049D);
  }
}
@-webkit-keyframes reveal {
  from {
    max-height: 0;
  }
  to {
    max-height: 10rem;
  }
}
@keyframes reveal {
  from {
    max-height: 0;
  }
  to {
    max-height: 10rem;
  }
}
@-webkit-keyframes conceal {
  from {
    max-height: 10rem;
  }
  to {
    max-height: 0;
  }
}
@keyframes conceal {
  from {
    max-height: 10rem;
  }
  to {
    max-height: 0;
  }
}
@-webkit-keyframes rotateBy90 {
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotateBy90 {
  to {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes rotateByNeg90 {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotateByNeg90 {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes slide-in {
  from {
    left: -15rem;
  }
  to {
    left: 0;
  }
}
@keyframes slide-in {
  from {
    left: -15rem;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes slide-out {
  from {
    left: 0;
  }
  to {
    left: -15rem;
  }
}
@keyframes slide-out {
  from {
    left: 0;
  }
  to {
    left: -15rem;
  }
}
@-webkit-keyframes toast-in {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes toast-in {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes toast-out {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes toast-out {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a, a:visited, a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: #222;
  position: relative;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (max-width: 59.9375em) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

button, .button {
  display: block;
  padding: 0.875rem 2.1875rem;
  border-radius: 50px;
  cursor: pointer;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #23049D 0%, #AA2EE6 50%, #23049D 100%);
  border: none;
  color: white;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
button:hover, .button:hover {
  transform: scale(1.025);
  background-position: right center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
button:active, .button:active {
  transform: scale(0.95);
  background-position: left center;
}

.flat-wide-button {
  font-size: 1.3rem;
  margin-top: 1.2rem;
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
}
.flat-wide-button:hover, .flat-wide-button:focus {
  transform: scale(1.025);
  background-position: right center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.flat-wide-button:active {
  transform: scale(0.95);
  background-position: left center;
}

.small-round-button {
  font-size: 0.9rem;
  font-weight: normal;
  padding: 0.3rem 0.8rem;
  margin: 0.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  flex: 1;
}

.delete-button {
  background-image: linear-gradient(90deg, red 0%, #f76363 50%, red 100%);
}

.edit-button {
  background-image: linear-gradient(to right, #23049D 0%, #233E8B 50%, #23049D 100%);
}

input, select {
  border: none;
  outline: 0;
  background-color: #fff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all ease-in-out 0.15s;
}
input:focus, select:focus {
  transform: scale(1.005);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.input-with-icon {
  font-size: 1.1rem;
  padding: 1rem;
  padding-left: 3.3rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-position: 1rem 1.2rem;
}

@media (max-width: 59.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 60em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 59.9375em) {
  .wide-for-mobile {
    min-width: 100%;
  }
}

.thin-H1 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.5;
}

table {
  border-collapse: collapse;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 1rem;
  width: 100%;
}

caption, .caption {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

thead {
  background: linear-gradient(150deg, #23049D, #233E8B);
  border-radius: 1rem;
}

th {
  color: #fff;
}

th, td {
  text-align: center;
  padding: 0.5rem;
}

td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background: #d7e3f5;
}

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #AA2EE6;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 999;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: toast-in 0.5s, toast-out 0.5s 2.5s;
  animation: toast-in 0.5s, toast-out 0.5s 2.5s;
}

.reveal {
  -webkit-animation: reveal ease-in-out 0.3s forwards;
          animation: reveal ease-in-out 0.3s forwards;
}

.conceal {
  -webkit-animation: conceal ease-in-out 0.3s forwards;
          animation: conceal ease-in-out 0.3s forwards;
}

.rotateBy90 {
  -webkit-animation: rotateBy90 ease-in-out 0.3s forwards;
          animation: rotateBy90 ease-in-out 0.3s forwards;
}

.rotateByNeg90 {
  -webkit-animation: rotateByNeg90 ease-in-out 0.3s forwards;
          animation: rotateByNeg90 ease-in-out 0.3s forwards;
}

.slide-in {
  -webkit-animation: slide-in ease-in-out 0.3s forwards;
          animation: slide-in ease-in-out 0.3s forwards;
}

.slide-out {
  -webkit-animation: slide-out ease-in-out 0.3s forwards;
          animation: slide-out ease-in-out 0.3s forwards;
}

.header {
  margin-bottom: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.header__logo {
  height: 3rem;
}
.header__logo img {
  height: 100%;
  width: auto;
}
.header__logo_title {
  padding: 0.5rem 0 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
}
.header__logo_title_part {
  color: #23049D;
}
.header__menu > span {
  display: block;
  width: 26px;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(90deg, #23049D, #AA2EE6);
  transition: all 0.2s ease-in-out;
  transform-origin: 2px 2px;
}
.header__menu > span:not(:last-child) {
  margin-bottom: 4px;
}
.header__links a {
  position: relative;
  font-size: 1.125rem;
  color: #222;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 32px;
}
.header__links a:hover {
  color: #23049D;
}
.header__links a:hover::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background: linear-gradient(90deg, #23049D, #AA2EE6);
  left: 0;
  right: 0;
  bottom: -10px;
  border-radius: 2px;
  -webkit-animation: highlight ease-in-out 0.25s forwards;
          animation: highlight ease-in-out 0.25s forwards;
}
.header.open .header__menu > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__menu > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  display: block;
  background-image: linear-gradient(#23049D 0%, #233E8B 50%, transparent 100%);
  position: fixed;
  top: 63px;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.header .fade-in {
  visibility: visible;
  -webkit-animation: fade-in 0.3s ease-in-out forwards;
          animation: fade-in 0.3s ease-in-out forwards;
}
.header .fade-out {
  visibility: visible;
  -webkit-animation: fade-out 0.3s ease-in-out forwards;
          animation: fade-out 0.3s ease-in-out forwards;
  visibility: hidden;
}
.header__overlay_menu {
  position: absolute;
  top: 5rem;
  width: calc(100% - 3rem);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 2px;
  background-color: white;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%);
  visibility: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.header__overlay_menu a {
  display: block;
  color: #222;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}
.header__overlay_menu a:hover {
  color: #23049D;
}

.header__logo {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.header nav {
  padding-left: 1rem;
  padding-right: 1rem;
}

.adminLogin {
  background: linear-gradient(-45deg, #23049D 0%, #233E8B 50%, #AA2EE6 100%);
  width: 100vw;
  height: 100vh;
}
.adminLogin__form {
  background-color: #fff;
  width: 30rem;
  padding: 2rem 3rem 3rem;
  border-radius: 1rem;
  box-shadow: rgba(45, 37, 122, 0.56) 0px 22px 70px 4px;
  margin: 1rem;
}
.adminLogin__form_header {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}
.adminLogin__form_id {
  background-image: url(../../images/avatar.png);
}
.adminLogin__form_pass {
  background-image: url(../../images/padlock.png);
  margin-top: 1.2rem;
}

@media (max-width: 39.9375em) {
  .adminLogin__form {
    padding: 1.5rem;
  }
}
.sidebar {
  position: fixed;
  left: -15rem;
  z-index: 99;
  width: 15rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  color: #fff;
  background: linear-gradient(-45deg, #23049D 0%, #AA2EE6 100%);
  padding-bottom: 3.5rem;
  height: 90.6vh;
  margin-top: -10px;
  overflow-y: scroll;
  scrollbar-color: auto;
  scrollbar-width: thin;
}
.sidebar::-webkit-scrollbar {
  width: 0.5rem;
}
.sidebar::-webkit-scrollbar-track {
  background: #23049D;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #AA2EE6;
  border-radius: 0.2rem;
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #AA2EE6;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar__user {
  width: 100%;
  display: inherit;
  padding: 1.2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.sidebar__user_avatar {
  width: 4rem;
  background-color: #fff;
  border-radius: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.3rem 0.5rem;
}
.sidebar__user_avatar img {
  width: 100%;
  height: auto;
}
.sidebar__user_info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem 1rem;
}
.sidebar__user_info span {
  display: block;
  width: 100%;
}
.sidebar__dropdown {
  width: 100%;
}
.sidebar__dropdown li {
  padding: 0.5rem 0;
  padding-left: 1.2rem;
}
.sidebar__dropdown_title {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #AA2EE6;
}
.sidebar__dropdown_title:not(:first-child) {
  border-top: 1px solid #AA2EE6;
}
.sidebar__dropdown_title a {
  color: #fff;
}
.sidebar__dropdown_title_arrow {
  display: block;
  position: absolute;
  right: 1rem;
  top: 0.3rem;
  font-family: monospace;
  padding: 0.3rem 0.65rem;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 50%;
}
.sidebar__dropdown_title_arrow:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar__dropdown_items {
  max-height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar__dropdown_items a {
  color: #fff;
  font-size: 1rem;
  display: block;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.2s;
}
.sidebar__dropdown_items a:hover {
  padding-left: 0.3rem;
  text-shadow: white 0px 0px 1px;
}
.sidebar__footer {
  position: fixed;
  width: 14.5rem;
  height: 3rem;
  bottom: 0;
  background: linear-gradient(45deg, #23049D 0%, #233E8B 100%);
  display: flex;
  justify-content: space-around;
}
.sidebar__footer_icon {
  display: flex;
  justify-content: center;
  display: block;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  margin: 0.3rem;
  padding: 0.7rem;
  transition: all ease-in-out 0.2s;
}
.sidebar__footer_icon:hover {
  transform: scale(1.02);
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar__footer_icon img {
  margin: 0.2rem;
  max-height: 100%;
  width: auto;
}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.main__heading {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 1.6rem;
}
.main .form_group {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
}
.main .form_group label {
  display: block;
  width: 100%;
  padding-bottom: 0.4rem;
}
.main .form_group input,
.main .form_group select {
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
}
.main .form_group_submit {
  width: 60%;
  margin: 0 auto;
}
.main__form {
  display: flex;
  flex-flow: row wrap;
}
.main__form, .main__preview {
  background-color: #fff;
  padding: 1.2rem;
  padding-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  margin: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  flex: 1;
}
.main__form_action, .main__preview_action {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
}
.main__table {
  width: 100%;
}

@media (max-width: 59.9375em) {
  .main {
    flex-flow: column wrap;
  }
  .main__form, .main__preview {
    flex: none;
    width: calc(100% - 2rem);
    margin: 1rem;
  }
  .main__form {
    flex-flow: column wrap;
  }
  .main .form_group {
    width: 100%;
  }
  .main .form_group_submit {
    width: 100%;
  }
  .main__preview {
    overflow-x: scroll;
    scrollbar-color: auto;
    scrollbar-width: thin;
  }
  .main__preview tr {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .main__preview td {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  .main__preview::-webkit-scrollbar {
    width: 0.2rem;
  }
  .main__preview::-webkit-scrollbar-track {
    background: #23049D;
  }
  .main__preview::-webkit-scrollbar-thumb {
    background: #AA2EE6;
    border-radius: 0.1rem;
  }
  .main__preview::-webkit-scrollbar-thumb:hover {
    background: #AA2EE6;
  }
}/*# sourceMappingURL=admin-styles.css.map */